<h1>New field</h1>

<div class="field-container">
  <%= form_with(model: @field) do |form| %>
    <% if @field.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

        <ul>
          <% @field.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, "Field Name" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <strong>Geometry (Shape):</strong>
      <div id="map" class="map-container" style="height: 400px;"></div>
      <%= form.hidden_field :shape %>
    </div>

    <div class="form-actions">
      <%= form.submit "Save", class: "btn-save" %>
      <%= link_to "Back to fields", fields_path, class: "btn-cancel" %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osm = L.tileLayer(osmUrl, { maxZoom: 18 });
    var map = new L.Map('map', { center: new L.LatLng(49.520942, 31.811126), zoom: 13 }); 
    var drawnItems = L.featureGroup().addTo(map);

    L.control.layers({
      'osm': osm.addTo(map),
      "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
          attribution: 'google'
      })
    }, { drawlayer: drawnItems }, { position: 'topleft', collapsed: false }).addTo(map);
    map.addControl(new L.Control.Draw({
      edit: { featureGroup: drawnItems, poly: { allowIntersection: false } },
      draw: {
        polygon: {
          allowIntersection: false,
          showArea: true
        },
        marker: false,
        polyline: false,
        rectangle: false,
        circle: false
      }
    }));

    map.on(L.Draw.Event.CREATED, function (event) {
      var layer = event.layer;
      var geojson = layer.toGeoJSON();
      var geojsonString = JSON.stringify(geojson);
      drawnItems.addLayer(layer);
      document.getElementById('field_shape').value = geojsonString;
    });
  });
</script>
