<p style="color: green"><%= notice %></p>

<h1>Field Details</h1>

<div class="field-details-container">
  <div class="field-details">
    <strong>Field Name:</strong> <%= @field.name %>
  </div>

  <div class="field-details">
    <strong>Area (sq meters):</strong> <%= @field.area.round(2) %>
  </div>

  <div class="field-details">
    <strong>Geometry (Shape):</strong>
    <div id="map" class="map-container"></div>
  </div>

  <div class="form-actions">
    <%= link_to 'Edit', edit_field_path(@field), class: "btn-edit" %> |
    <%= link_to 'Back', fields_path, class: "btn-back" %>
    <%= button_to "Destroy this field", @field, method: :delete, class: "btn-destroy mt-2"  %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
    }).addTo(map);

    var geoLayer = L.geoJSON(<%= raw @geojson.to_json %>).addTo(map);
    map.fitBounds(geoLayer.getBounds());
  });
</script>
